.wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: rgb(187, 187, 74);
}

a {
   text-decoration: none;
   color: black;
}

a:hover{
   background-color: rgb(218, 231, 99);
   border-radius: 25%;
}

.navigation{
   display: flex;
   justify-content: center;
   font-size: 1.7rem;
   background-color: rgb(45, 108, 243);
}

.navigation a{
   padding: 1rem;
   margin: 1rem;
}

.imgLoggo{
   height: 100px;
}

.banner{
   width: 1280px;
}

.map{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.map img{
   width: 1200px;
   height: 600px;
}

.map p{
   font-weight: bolder;
   font-size: 2rem;
}

.content{
   flex: 1;
}

